<div style="width: 100%; background-color:#e5e5e5; text-align: center; padding-top:40px;">
	<img src="https://s3.amazonaws.com/besttradies/besttradies.png" />
	<div style="padding:40px; width: 600px; margin: 40px auto; background-color:#fff; border-radius: 10px; border:1px solid #d5d5d5;">
	<div>
	<h1>Hi <%= @job.user.firstname %></h1>

	<p>Congratulations You have just received a new proposal for <strong><%= @job.name %></strong>.</p>

	<p>You can choose to award this tradie as the winner, or wait for more proposals to come in, it's totally up to you. Once you award a winner, you'll be taken to your <%= link_to "connect tradies", mytradies_path %> page on your dashboard. Here you'll be able contact the tradie directly. Alternatively you could wait for the tradie to contact you.</p>

	<div style="padding-top:40px; text-align:center; font-size: 16px; width:100%; padding-bottom: 40px;">
	<strong>Click the button below to view your new proposal</strong>
	</div>


	<%=link_to "View Proposal", @job, style: "text-decoration: none; width:300px; background-color:#28C072; border-radius:5px; padding:10px 30px; color:#fff; font-size:16px; font-weight:bold" %>

	<div style="margin-top: 50px; font-weight:bold; font-size: 14px; padding-top:100px;">
		BestTradies.com.au
	</div>

	</div>
</div>