
	<div class="row search_panel">
		<div class="col-md-12 text-center">
		<h2>Search for jobs on offer</h2>
				<%= form_tag search_jobs_path, method: :get do |f| %>
					<div class="form-group col-md-5 col-sm-12">
						<%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name), include_blank: 'Find jobs in', class: "form-control" %>
					</div>
					<div class="form-group col-md-5 col-sm-12">

						<%= select_tag :location, options_from_collection_for_select(@location, :location, :location), include_blank: 'Which are based in', class: "form-control" %>
					</div>
					<div class="form-group col-md-2 col-sm-12">
						<%= submit_tag "Search Jobs", class: "btn btn-search-panel" %>
					</div>
				<% end %>
		</div>
	</div>
