<div class="row bg-grey myjobs">
	<div class="container">
		<div class="row">
			<div class="col-md-4"><%= render('dashmenu') %></div>
			<div class="col-md-8">
				<div class="myjobs-list">
					<h1>Proposal History</h1>
					<div class="joblisting-header row">
						<div class="col-md-1 text-center">Status</div>
						<div class="col-md-3 text-center">Job Title</div>
						<div class="col-md-2 text-center">Proposals</div>
						<div class="col-md-2 text-center">Started</div>
						<div class="col-md-2 text-center">Budget</div>
						<div class="col-md-2"></div>
					</div>
					<% @jobs.each do |job| %>
					
					<div class="row joblisting">
						<div class="col-md-1">
							<div class="job-cont-details text-center">	
									<div class="job-won">WON</div>

							</div>
						</div>
						<div class="col-md-3">
							<div class="joblisting-budget text-center"><%= link_to proposals.description, job %></div>

						</div>
						<div class="col-md-2 text-center">
							<div class="joblisting-proposals"></div>
						</div>
						<div class="col-md-2 text-center">
						<div class="joblisting-time"><span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(job.created_at) + " ago" %> </div>
						</div>
						<div class="col-md-2 text-center">
							<div class="joblisting-budget">></div>
						</div>
						<div class="col-md-2 ">
					
			</div>
					</div>
					<% end %>	
				</div>

			</div>
		</div>
	</div>
</div>