<div class="container">
<%= render 'layouts/dashboard_sidebar' %>
<div class="col-md-9 col-sm-12 nopadding">
	<div class="inbox-head">
		<h3>My Tradies</h3>
	</div>
	<div class="inbox-body">


		<div class="myjobs-list">
			

			<% @award_users.each do |award| %>
				
				<%= image_tag award.avatar.url(:medium) %>
				<%= award.firstname %>
			

			<%= link_to "Contact Tradie", trady_path(@award_user), class: "btn btn-primary" %><br />


			<% end %>	
		
		</div>


	</div>
</div>
</div>
</div>
</div>