.addjob_container{
	margin-top:100px;
}

.addjob_container label{
	font-size: 1.6em;
	color: #1F2836;
	font-family: 'Open Sans', sans-serif;
	padding-bottom:15px;
	letter-spacing:-1px;
}

.addjob_container .sublabel{
	font-size: 1em;
	color: #1F2836;
	font-family: 'Open Sans', sans-serif;
	padding-bottom:15px;
	text-transform: capitalize;

}

textarea.addjob{
	height:150px !important;
}

.addjob-step{
	background-color:#34B5E8;
	width:30px;
	height:30px;
	border-radius:100px;
	color:#fff;
	text-align:center;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	display:block;
	float:left;
	margin-right:10px;

}
.addjob-step:after{
	clear:both;
}

.addjob-mtop{
	margin-bottom:30px;
}

.addjob-stop{
	margin-bottom:10px;
}



.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}