/*
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 body{
 	overflow-x:hidden; 
 	font-family: 'Roboto', sans-serif;
 }

.bg-grey{
	min-height:100vh;
	background-color: #f7f7f7;
}

a, a:link, a:visited, a:active{
	font-family: 'Roboto', sans-serif;

	
}

a:hover{

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: rgba(0,0,0,0);
	color: #fff;
}

.navbar-nav > li > .dropdown-menu{
	border-radius: 5px;
	margin-top: 20px;
}

h1{
	font-size: 3em;
	color: #1e1e1e;
	font-family: 'gothambold1';
	letter-spacing:-1px;
}
