.job-top{

padding:20px;

}

.job-top h1 {
	color:#fff;
	font-size:4em;
	font-family: 'gothambold1';
	letter-spacing:-4px;
}

.job-cont-top{
	background-color:#fff;
	padding:20px;
	border-radius:0 0 10px 10px;
	border:1px solid #f1f1f1;
}

.job-cont-top h2{
	font-size:2em;
	font-family: 'gothambold1';
	letter-spacing:-1px;
	line-height:.8;
}



.job-cont-med{
background-color:#fff;
border-radius:10px 10px 0 0;

}

.job-cont-med-cell{
padding: 40px 0;
}

.job-cont-med h2{
	font-size:2em;
	font-family: 'gothambold1';
	letter-spacing:-1px;
	color:#fff;
}



.job-cont-award{
	background-color:#e8ede6;
	padding:20px;
	border:1px solid #f1f1f1;
}

.job-cont-award h2{
	font-size:2em;
	font-family: 'gothambold1';
	letter-spacing:-1px;
	color:#89b777;
}

.job-cont-award img{
	border-radius:10px;
}

.job-cont-award-name a, .job-cont-award-name a:link, .job-cont-award-name a:active, .job-cont-award-name a:visited {
font-size:1.4em;
color: #6a915b

}

.job-cont-award-sub{
	font-size:.8em;
	color:#89b777;
}

.job-cont-award-desc{
	font-size:1em;
	color:#89b777;
	padding-top:10px;
}

.job-cont-award-price{
	font-size:2em;
	color: #6a915b;
	font-family: 'gothambold1';
	letter-spacing:-1px;
	line-height:.8;
}

.job-cont-award-price small{
	font-size: .6em;
	color: #6a915b;

}

.job-joblisting {
	border:1px solid #eee;
	padding: 20px 0 20px 0;
	background-color: #fff;
	transition: all .3s ease;
}

.job-joblisting:hover {
	background-color: #efefef;
}

.job-joblisting-desc-name{
	font-size:1.4em;
}

.job-joblisting-desc{
	font-size:1em;
}

.job-joblisting-desc small{
	font-size:.8em;
}

.job-joblisting-price{
	font-size:1.4em;
	line-height:2;
}

.job-joblisting-price small{
	font-size:.8em;
	
}

.job-joblisting img{
	border-radius:5px;
}

.job-ratings{
background-color:#222226;
	border:1px solid #e5e5e5; 
	font-size:.8em;
	padding:10px;
	margin-bottom:20px;
	color:#fff;
}

.proposal-count{
	background-color:#dfdfdf;
	padding:40px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border:1px solid #e5e5e5;
	margin-bottom:50px;
}

.proposal-count h3{
	color:#fff;
	text-align:center;
}


.proposal-next-time{
	margin-bottom:50px;
}

.proposal-count a:hover{
	text-decoration:none;
}

.job-add-prop{
	border:2px dashed #96cce0;
	width:100%;
	padding:20px;
	text-align:center;
	background-color:#fff;
	transition: all .3s ease;
	color:#96cce0;
	display: table;
	margin-bottom:20px;
}

.job-add-prop:hover{
border:2px dashed #0088cf;
background-color:#edf2f4;
cursor: pointer; 
cursor: hand;
color:#0088cf;
}



.job-add-prop-inner{
	display: table-cell;
    vertical-align: middle;
}

.job-add-prop-inner-small{
	font-size:1.3em;
}

.job-add-prop-inner-large{
	font-size:3em;
}

.job-cont-sub{
	font-size:.8em;
	color:#ccc;
}

.job-cont-desc{
	margin-top:20px;
}


.job-cont-details{
	font-size:1.2em;
	font-family: 'gothambold1';
	text-align:center;
	height:50px;
}

.job-cont-details-cont h3{
	font-size:1.2em;
	font-family: 'gothambold1';
	letter-spacing:-1px;
}


.job-price{
	color:#28C072;
}

.job-price-sml{
	color:#63696C;
	font-size:.8em !important;
	font-family: 'Open Sans', sans-serif;
	font-weight:400 !important;
	font-style:italic;
}

.modal-header{
	background-color:#1f2836;
	color:#fff;
	font-size:2em !important;
	font-family: 'gothambold1';
	letter-spacing:-1px;
	text-align:center;
}

.job-profile-image img{
	border-radius:10px;
	
}

.sub-prop input[type="text"]{
	height:40px !important;
}

.job-open-col{
	background-color:#28C072;
	border-radius:0 10px 0 0;
	margin-left:-15px;

}

.job-closed-col{
	background-color:#c00001;
	border-radius:0 10px 0 0;

}
.job-open{
color:#fff;
padding-top:10px;
font-size:1.5em;
}

.job-closed{
padding-top:10px;
color:#fff;
font-size:1.5em;
}



.update-job-profile{
	font-size:1.4em;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;

	border:2px dashed #96cce0;
	border-radius:10px;
	width:100%;
	padding:20px;
	text-align:center;
	background-color:#fff;
	transition: all .3s ease;
	color:#96cce0;
	display: table;
	margin-bottom:20px;
}

.update-job-profile-sml{
	font-size:.8em !important;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	margin-top:20px;
	padding:10px;
	background-color:#edf2f4;
	border-radius:5px;
	border:1px solid #96cce0;
}

.update-job-profile:hover > .update-job-profile-sml{
	background-color:#fff;
	border:1px solid #0088cf;
}

.update-job-profile:hover{
border:2px dashed #0088cf;
background-color:#edf2f4;
cursor: pointer; 
cursor: hand;
color:#0088cf;
}


.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


.circle_graph{
	text-align:right;
	font-size:1em !important;
	font-family: 'Open Sans', sans-serif;
	font-weight:400 !important;
	color:#17add3;
}



.circle_graph h3{
	color:#fff;
}

.job-show-title-bar{
	background-color:#1F2836;
	padding:20px 0;
	margin-bottom:40px;
}

.oneliner{
	color:#28C072;
	font-size:1.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-style:italic;
}
