.navbar, .navbar-default{
	background-color:rgba(0,0,0,0)!important;
	border:none;
	top:-100px;

}

.header-lrg{
background-image:url('http://amcmining.com/wp-content/uploads/2015/11/miner-determined-bigger.jpg');
background-size: cover;
height:600px;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right; 
}

.header-lrg-overlay {
    background: url(https://s3.amazonaws.com/besttradies/dotsml.png) repeat;
    height:100%;
    width:100%;
    background-attachment: fixed;
    background-position: right;
    background-color:rgba(0,0,0,.5);
}

.closeblur, .closeblurjob{
	cursor: pointer;
	cursor: hand;
	padding:10px;
	font-size:20px;
	text-align:right;
}

.closeblur:hover, .closeblurjob:hover {
	transition: 0.9s;
	transform: rotateZ(180deg);
}
.progress-bar {
    color: #333;
} 

.login-form {
	margin: 60px 0;
}

form[role=login] {
	color: #5d5d5d;
	background: #fff;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

form[role=login] input,
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}
form[role=login] > div {
	text-align: center;
}

form[role=newjob] {
	color: #5d5d5d;
	background: #fff;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	min-height:350px;

}

form[role=newjob] input,
form[role=newjob] button,
{
	font-size: 18px;
}
form[role=newjob] > div {
	text-align: center;
}


.login-box{
	position:absolute;
	top:-1250px;
  	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.fixed {
	position:fixed
}


.header-home-text h1{
	font-family: 'gothambold1';
	font-size:6em;
	color:#fff;
	letter-spacing:-5px;
	margin-top:100px;
}



.navbar-default .navbar-nav > li > a{
	color:#fff;
	padding:5px 20px !important;
}

.navbar-default .navbar-nav > li > a:hover{
	color:#fff;

}

.btn-outline{
	border:2px solid #ccc;
	border-radius:200px;
	background-color:rgba(0,0,0,0);
	padding:5px 20px !important;
}


/* Header Small */

.header-sml{
background-color:#fff;
border-bottom:1px solid #f1f1f1;
}

.header-sml img{
width:50%;
padding-bottom:10px;
}


.header-sml .navbar-default .navbar-nav > li > a{
	color:#ccc;
	padding:5px 20px !important;
}

.header-sml .navbar-default .navbar-nav > li > a:hover{
	color:#ccc;

}

.header-sml .btn-outline{
	border:2px solid #ccc;
	border-radius:200px;
	background-color:rgba(0,0,0,0);
	padding:5px 20px !important;
}

.nav-notification{
color:#fff;
font-size:20px;
padding:5px;
border:1px solid #aa0008;
background-color:#C7000D;
border-radius:5px;
cursor: pointer;
cursor: hand;
}
