.search_panel h2{
	font-size: 3em;
	color: #fff;
	font-family: 'gothambold1';
	line-height: 50px;
	letter-spacing: -1px;

}
.search_panel{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db0000+0,a00002+100 */
background: #db0000; /* Old browsers */
background: -moz-linear-gradient(top,  #db0000 0%, #a00002 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #db0000 0%,#a00002 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #db0000 0%,#a00002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0000', endColorstr='#a00002',GradientType=0 ); /* IE6-9 */

	padding: 0 40px 20px 40px;
	border-radius: 20px;
	margin-top:-100px;
	position:relative;
	z-index:10
}

.search_panel input[type="text"], .search_panel select, .search_panel input[type="submit"]{
	height: 60px !important;
	font-size: 1.5em;
}

.search_panel input[type="submit"]{
	background-color: rgba(0,0,0,0);
	border:2px solid white;
	color: #fff;
}

