<div class="header-lrg">
  <div class="header-lrg-overlay">
    <div class="container-fluid">
      <%= render 'layouts/nav' %>
    </div>
    <div class="container">
      <div class="row">
        <div class="header-home-text col-md-12 text-center">
          
            <h1>Start Searching Here</h1>
            <h2>Find something you like and submit a proposal</h2>
            <h3> The best way to win a job is by ensuring you're competitive &amp; professional. <br />Submitting proposals is free so click a job to get started.<br /></h3>
        </div>
      </div>
    </div>
  </div>
</div>





